/*Basic CSS Reset**/
* {
    margin: 0;
    padding: 0;
}


body {
    background-color: #fff;
    max-width:1598px;
    margin: 0 auto;
}

/*
Header looks good at 100% screen size but goes cadiwampus when screen is resized. This will be taken care of when
adjust for responsive design.
 */

/*HEADER*/
header {
    background-image: url('images/books_header_bg.jpg');
    height: 100%;
}

.header-logo{
    position: relative;
    top:2.3em;
    left: 25.88em;
}

.header-title {
    position:relative;
    bottom:1em;
    left: 8.5em;
    letter-spacing: 0.01rem;
    font-size:2em;
    color: rgba(255,255,255,.6);
    font-weight:300;
    font-family: "Roboto Slab", sans-serif;
}

.header-title>b {
    font-weight:400;
    color: white;
}

.header-subtitle {
    position: relative;
    top:.75em;
    right:7em;
    color: rgba(0,0,0,.3);
    font-family:Roboto, sans-serif;
    font-weight:400;
    font-size:1rem;
    letter-spacing: 0.01em;

}

/*SEARCH BAR*/
.search-bar {
    position: relative;
    bottom: 1rem;
    left: 25.5rem;

}

/*Input Box reset*/
input
{
    padding: 0;
    margin: 0;
    border: 0;
    border: none;
}

input#search {
    width: 680px;
    height: 50px;
    margin-top:2em;
    margin-bottom:2rem;
    background-color: rgba(255,255,255,0.5);
    font-family:Roboto, sans-serif;
    font-size:1.25em;
    padding-left:1em;
}

/*Still need to build out hover and click (interaction) css.*/


/*can't figure out how to align with search bar, any ideas Lena? */
button.icon {
    border: none;
    background:#f5f5f5;
    color: #B1CE4B;
    height:50px;
    width:60px;

}

i[class*=fa-search]::before {
    background:transparent;
}

/*NAVIGATION*/
.main-nav{
    display:flex;
    width: 100%;
    justify-content: center;

}

.main-nav a {
    text-decoration: none;
    display: block;
    padding:.7em 1.5em .7em;
    font-family: Roboto, sans-serif;
    font-size:1.25em;
    color: #8C8C8C;
}


a.active.item.green {
    color: #A1C238;
}


/*Using Flexbox to stack header and subheader*/
.header-text {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/*Mock Container Section*/
.ui.container {
    position: relative;
    height: 1080px;
    width:100%;
    background-color: #f5f5f5;
}


/*FOOTER*/

footer {
    background-color: #3a3a3a;
    width: 100%;
    height: 8em;
}

.footer-logo{
    position: relative;
    left: 10em;
    top:3em;
}

.footer.content {
    position: relative;
    left: 13.5em;
    top:.6em;
    font-family:"Roboto Slab", sans-serifSerif;
    color: #676767;

}

.footer.content b {

    color: #A9A9A9;

}

.footer.right-content {
    position: relative;
    left: 65em;
    bottom: 1em;
    color:#A9A9A9;
    font-family:Roboto,sans-serif;
}

p.copyright {
    color: #676767;
}

